<footer class="site-footer">
  {% assign show_social_links = true %}

  {% if site.show_social_links != null %}
    {% assign show_social_links = site.show_social_links %}
  {% endif %}

  {% if page.show_social_links != null %}
    {% assign show_social_links = page.show_social_links %}
  {% endif %}

  {% if show_social_links %}
    {%- include social.html -%}
  {% endif %}

  {% assign show_license = true %}

  {% if site.show_license != null %}
    {% assign show_license = site.show_license %}
  {% endif %}

  {% if page.show_license != null %}
    {% assign show_license = page.show_license %}
  {% endif %}

  {% assign i18n = site.data.i18n[page.lang] %}
  {% if show_license %}
    <section class="license">
      <h3 hidden aria-hidden="false">{{ i18n.aria.footer.license.title }}</h3>
      {{ i18n.footer.license }}
    </section>
  {% endif %}
</footer>
