{% assign i18n_aria = site.data.i18n[page.lang].aria.header %}

{% if page.layout == "index" %}
  {% assign pages = site.pages | where:'layout','about' %}
  {% assign aria_title_link = i18n_aria.title_links.about_author %}
{% else %}
  {% assign pages = site.pages | where:'layout','index' %}
  {% assign aria_title_link = i18n_aria.title_links.post_list %}
{% endif %}

{% assign pages = pages | where:'lang',page.lang %}
{% assign url = pages.first.url %}

<header class="site-header">
  <h1 class="site-title">
    <a href="{{ url | relative_url | default: '/'}}" aria-label="{{ aria_title_link }}" >
      {{ site.title | escape }}
    </a>
  </h1>
  {% if page.translations %}
    <ul class="site-header-language-alternatives" >
       {% for post_url in page.translations %}
        {% if page.layout == 'post' %}
          {% assign found = site.posts %}
        {% else %}
          {% assign found = site.pages %}
        {% endif %}
        {% assign found = found |where:'url',post_url %}
          <li>
            <a href="{{ post_url | relative_url }}">
              {{ site.data.i18n[found.first.lang].header.available_in }}
            </a>
          </li>
          {% endfor %}
    </ul>
  {% endif %}
</header>
