---
layout: layout-default
---
{% assign aria = site.data.i18n[page.lang].aria.about %}
<section class="about-me-content" itemscope="WebPage" itemtype="http://schema.org/Person" >
  <h2 hidden aria-hidden="false">{{ aria.title }}</h2>
  {% if page.author_image %}
  <figure class="about-me-image"  >
    <img src="{{ page.author_image }}" alt="{{ aria.image }} {{ page.author | default: site.author }}." itemprop="image" >
  </figure>
  {% endif %}
  <meta itemprop="name" content="{{ page.author | default: site.author }}">
  <div itemprop="description" >
    {{ content }}
  </div>
</section>
