---
layout: layout-default
---
{% assign aria = site.data.i18n[page.lang].aria.about %}
<section class="about-me-content" itemscope itemtype="http://schema.org/Person" >
  <h2 hidden aria-hidden="false">{{ aria.title }}</h2>
  {% if page.image %}
    <figure class="about-me-image"  >
      <img src="{{ page.image }}" alt="{{ aria.image }} {{ page.author | default: site.author }}." itemprop="image" >
    </figure>
  {% endif %}
  <span itemprop="name">{{ page.author }}</span>
  {{ content }}
</section>
